<!--
    <form action="https://s3-bucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="uploads/${filename}">
      <input type="hidden" name="AWSAccessKeyId" value="AKIAINZBK3UCEISVY2GA"> 
      <input type="hidden" name="acl" value="private"> 
      <input type="hidden" name="success_action_redirect" value="<%= new_note_path() %>">
      <input type="hidden" name="policy" value="YOUR_POLICY_DOCUMENT_BASE64_ENCODED">
      <input type="hidden" name="signature" value="YOUR_CALCULATED_SIGNATURE">
       <input type="hidden" name="Content-Type" value="">
       Include any additional input fields here

      Upload file: 
      <input name="file" type="file"> 
      <br> 
      <input type="submit" value="Upload File to S3"> 
    </form> 
-->

<%= form_for @note, :html => {:multipart => true}, 
	id: "note_upload", :remote => true do |f| 
%>
	<%= hidden_field_tag 'course', @course.id %>
	<p><%= f.file_field :file %></p>
	<p><%= f.submit %></p>
<% end %>
