<%= stylesheet_link_tag "template.css" %>
<%= stylesheet_link_tag "signup.css" %>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cabin:700" %>

<h2>Sign up</h2>

<div id="signup_form_container">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {:id => "signup_form"}) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", class: "button" %></div>
<% end %>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<!--
<%= render "devise/shared/links" %>
-->

