<%= gravatar_for(@user) %>
<%= gravatar_change(@user) %>

<p> Hello, <%= @user.name %> this is the user show page. 
	There's nothing here right now =( </p>

<p><%= link_to "Add new note", new_note_path %></p>
<br/>


<% if @user.notes.any? %>
	<p>Your <%= @user.notes.count %> Notes:</p>
	<ol class="nublist">
	<% @notes.each do |note| %>
		<%=  link_to note.file, note.file.to_s %>
		<br />
	<% end %>
	</ol>
	<%= will_paginate @notes %>
	<br/>
<% end %>

<% if @user.courses.any? %>
	<% @user.courses.each do |course| %>
		<div id="courseDisplay-<%= courseToStringNoSpc(course) %>">
			<%= render course %>
		</div>
	<% end %>
<% end %>