<!--
<%= gravatar_for(@user) %>
<%= gravatar_change(@user) %>

<p> Hello, <%= @user.name %> this is the user show page. 
	There's nothing here right now =( </p>

<p><%= link_to "Add new note", new_note_path %></p>
<br/>


<% if @user.notes.any? %>
	<p>Your <%= @user.notes.count %> Notes:</p>
	<ol class="nublist">
	<% @notes.each do |note| %>
		<%=  link_to note.file, note.file.to_s %>
		<br />
	<% end %>
	</ol>
	<%= will_paginate @notes %>
	<br/>
<% end %>

<% if @user.courses.any? %>
	<% @user.courses.each do |course| %>
		<div id="courseDisplay-<%= courseToStringNoSpc(course) %>">
			<%= render course %>
		</div>
	<% end %>
<% end %>
-->


<% @courses.each do |course| %>
	<%= course.name %>
<% end %>


<!--start content-->
<!--
  <div id="left_container">
    <div id="my_notes_profile_picture"></div>
    <p id="my_notes_username"><%= @user.name %></p>
    <div id="my_notes_horizontal_line" class="horizontal_line"></div>
    <p id="my_notes_num_uploads">12</p>
    <p id="my_notes_uploads">uploads</p>
  </div>

  <div id="right_container">
    <a id="upload_notes_button">
      	<%= image_tag("upload_notes_button.jpg", width: 123, heigth: 31) %>
    </a>
    <div id="tab_container">
        <div id="following_tab" class="content_tab">
          <p>following</p>
        </div>
        <div id="uploads_tab" class="content_tab">
          <p>uploads</p>
        </div>
    </div>
    
    <div id="my_notes_content_container">
      <div id="following_container">
 <div class="content_line">
          <p class="content_line_course_number"><a>Computer Science 108</a></p>
          <p class="content_line_course_name">Software Design and Implementation</p>
          <p class="content_line_school_name">Duke University</p>
          <p class="content_line_num_downloads">47</p>
          <img class="my_notes_course_icon" src="../app/assets/images/course_icon.jpg" height="32" width="26"/>
          <img class="my_notes_download_icon" src="../app/assets/images/download_icon.jpg" height="20" width="20"/>
          <a><img class="my_notes_x_icon" src="../app/assets/images/x_icon.jpg" height="15" width="15"/></a>
          <div class="content_line_line"></div>
        </div>

        <div class="content_line">
          <p class="content_line_course_number"><a>Computer Science 110</a></p>
          <p class="content_line_course_name">Operating Systems</p>
          <p class="content_line_school_name">Duke University</p>
          <p class="content_line_num_downloads">47</p>
          <img class="my_notes_course_icon" src="../app/assets/images/course_icon.jpg" height="32" width="26"/>
          <img class="my_notes_download_icon" src="../app/assets/images/download_icon.jpg" height="20" width="20"/>
          <a><img class="my_notes_x_icon" src="../app/assets/images/x_icon.jpg" height="15" width="15"/></a>
          <div class="content_line_line"></div>
        </div>
      </div>

      <div id="uploads_container">
        
        <div class="content_line">
          <p class="content_line_date">2/24/12</p>
          <p class="content_line_uploads_course_name">Computer Science 108: Software Design and Implementation</p>
          <p class="content_line_uploads_school_name">Duke University</p>
          <p class="content_line_num_downloads">28</p>
          <img class="my_notes_note_icon" src="../app/assets/images/note_icon.jpg" height="32" width="26"/>
          <img class="my_notes_download_icon" src="../app/assets/images/download_icon.jpg" height="20" width="20"/>
          <a><img class="my_notes_x_icon" src="../app/assets/images/x_icon.jpg" height="15" width="15"/></a>
          <div class="content_line_line"></div>
        </div>

         <div class="content_line">
          <p class="content_line_date">2/22/12</p>
          <p class="content_line_uploads_course_name">Computer Science 108: Software Design and Implementation</p>
          <p class="content_line_uploads_school_name">Duke University</p>
          <p class="content_line_num_downloads">31</p>
          <img class="my_notes_note_icon" src="../app/assets/images/note_icon.jpg" height="32" width="26"/>
          <img class="my_notes_download_icon" src="../app/assets/images/download_icon.jpg" height="20" width="20"/>
          <a><img class="my_notes_x_icon" src="../app/assets/images/x_icon.jpg" height="15" width="15"/></a>
          <div class="content_line_line"></div>
        </div>

      </div>
    </div>
  </div>
-->
<!--end content-->

