
<!--
<%= gravatar_for(@user) %>
<%= gravatar_change(@user) %>

<p> Hello, <%= @user.name %> this is the user show page. 
	There's nothing here right now =( </p>

<p><%= link_to "Add new note", new_note_path %></p>
<br/>


<% if @user.notes.any? %>
	<p>Your <%= @user.notes.count %> Notes:</p>
	<ol class="nublist">
	<% @notes.each do |note| %>
		<%=  link_to note.file, note.file.to_s %>
		<br />
	<% end %>
	</ol>
	<%= will_paginate @notes %>
	<br/>
<% end %>

<% if @user.courses.any? %>
	<% @user.courses.each do |course| %>
		<div id="courseDisplay-<%= courseToStringNoSpc(course) %>">
			<%= render course %>
		</div>
	<% end %>
<% end %>
-->


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3>upload notes</h3>
  </div>

  <div class="modal-body"></div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>

</div>

<!--start content-->
  <div id="left_container">
    <div id="my_notes_profile_picture"></div>
    <p id="my_notes_username"><%= @user.name %></p>
    <div id="my_notes_horizontal_line" class="horizontal_line"></div>
    <p id="my_notes_num_uploads"><%= @user.notes.count %></p>
    <p id="my_notes_uploads">uploads</p>
  </div>

  <div id="right_container">
    <div id="tab_container">
        <div id="following_tab" class="content_tab">
          <p>following</p>
        </div>
        <div id="uploads_tab" class="content_tab">
          <p>uploads</p>
        </div>
    </div>
    
    <div id="my_notes_content_container" class="<%= @state %>">
      <div id="following_container">
        <% if current_user.courses.any? %>
          <% @courses.each do |course| %>
            <div class="content_line <%= "#{course.id}" %>_line">
              <p class="content_line_course_number">
                <%= link_to "#{course.subject.abbr} #{course.new_number}"%><br />
              </p>
              <p class="content_line_course_name"><%= "#{course.name}" %></p>
              <p class="content_line_school_name">Duke University</p>

              <%= link_to image_tag(
                "upload_notes_button.jpg", 
                width: 123, heigth: 31,
                ), new_note_path(course: course.id), class: "upload_notes_button",
                data: {toggle: "modal", target: "#myModal"},
                remote: true
              %>

              <%= image_tag "course_icon.jpg", width: 26, height: 32, class: "my_notes_course_icon" %>
              <!--<p class="content_line_num_downloads">47</p>
              <%= image_tag "download_icon.jpg", width: 20, height: 20, class: "my_notes_download_icon" %>-->
              <%= link_to image_tag(
                    "x_icon.jpg",
                    width: 15,
                    height: 15,
                    class: "my_notes_x_icon"   
                ), {
                    controller: "note_booked_relationships", action: "destroy_for_user", 
                    course: "#{course.id}", user: "#{current_user.id}"
                }, class: "remove_class", method: "delete", remote: true
              %>
              <div class="content_line_line"></div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div id="uploads_container">
        <% if current_user.notes.any? %>
          <% current_user.notes.each do |note| %>
            <div class="content_line <%= "#{note.id}" %>_line">
              <p class="content_line_date"><%= note.formatDate %></p>
              <p class="content_line_file">
                <%= link_to note.fileBasename, note.file.url %>
              </p>
              <p class="content_line_uploads_course_name">
                <%= "#{note.course.subject.name} #{note.course.new_number}: #{note.course.name}" %></p>
              <p class="content_line_uploads_school_name">Duke University</p>
              <p class="content_line_num_downloads"><%= note.numberDownloads %></p>
              <%= image_tag "note_icon.jpg", width: 26, height: 32, class: "my_notes_note_icon" %>
              <%= image_tag "download_icon.jpg", width: 20, height: 20, class: "my_notes_download_icon" %>
              <%= link_to image_tag(
                    "x_icon.jpg",
                    width: 15,
                    height: 15,
                    class: "my_notes_x_icon"   
                ), {
                    controller: "notes", action: "destroy", 
                    course: "#{note.course.id}", user: "#{current_user.id}",
                    note: "#{note.id}"
                }, class: "remove_class", method: "delete", remote: true
              %> 
              <div class="content_line_line"></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<!--end content-->

