<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Nubhub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag	"http://fonts.googleapis.com/css?family=Cabin:700" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js" %>
  <%= javascript_include_tag "http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js" %>
  <%= csrf_meta_tags %>
  <%= render 'partials/shim' %>
  <%= yield :header %>
</head>
<% if !current_page?('/') %>
<%= render 'partials/header' %>
<% end %>
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<%= debug(params) if Rails.env.development? %>
<body>
  <div class="test">
    <%= %>
  </div>
	<%= yield %>
</body>
<% if !current_page?('/') or !current_page?(user_path) %>
	<%= render 'partials/footer' %>
<% end %>
</html>
